.date-picker-01 {
  .date-picker-input {
    outline: none;
  }
  .vdp-datepicker__calendar {
    width: 322px;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.17);
    border: none;

    header {
      .next,
      .prev {
        font-size: 0 !important;
        text-indent: 0;
        color: transparent;
        transition: 0.3 ease-in-out;
        &:after {
          display: block;
          border: none;
          color: #999;
          height: 14px;
          width: 14px;
          font-size: 14px;
          content: "\E903";
          font-family: 'icomoon' !important;
          transform: rotateZ(-90deg) translateX(50%) translateY(-50%);
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
        }

        &:hover {
          background-color: transparent !important;
          &:after{
            color: #1ea1f2;
          }
        }
      }

      .up {
        font-size: 20px;
        font-weight: bold;
        color: #1ea1f2;
        transition: 0.3s ease-in-out;

        &:hover {
          background: transparent !important;
        }
      }

      .prev {
        &:after {
          transform: rotateZ(90deg) translateX(-50%) translateY(50%);
        }
      }

    }

    // setting days & column's width
    $days: 7;
    $width: 28px;

    .cell.day {
      transition: all 0.3s ease-in-out;
      border-radius: 5px;
      margin: 0 calc( ( 100% -  (#{$days} * #{$width})) / #{$days * 2} );
      height: $width;
      width: $width;
      padding: 0;
      line-height: $width;
      vertical-align: top;

      &:last-child {
        margin-bottom: 9px;
      }

      &.selected {
        background: #1ea1f2;
        color: #fff;
      }
    }

    .cell.day-header {
      transition: all 0.3s ease-in-out;
      border-radius: 5px;
      margin: 0 calc( ( 100% -  (#{$days} * #{$width})) / #{$days * 2} );
      height: 40px;
      width: $width;
      padding: 0;
      line-height: 40px;
      font-size: 14px;
    }

    .cell.month,
    .cell.year {
      transition: all 0.3s ease-in-out;

      &.selected {
        color: #fff;
        background-color: #1ea1f2;
      }
    }
  }

  .date-picker-input[type="text"] {
    width: 100% !important;
    border: none !important;
    //background: #f2f4f5 !important;
    padding-left: 5px !important;
    color: rgb(102, 102, 102) !important;
    cursor: pointer;
  }
  .vdp-datepicker__calendar {
    top: 27px;
    left: -33px;
  }
}

.date-picker-01.date-picker-01--02 {
  .date-picker-input[type="text"] {
    background: transparent !important;
  }
}
