@import "common.scss";

@mixin clearfix() {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.user-infor-page {
  background-color: #fff;

  .content {
    width: 1200px;
    margin: 0 auto;
    padding-top: 33px;
    min-height: calc(100vh - #{$header_height} - #{$footer_height});
  }

  .iconmo-calendar {
    color: #999999;
  }

  .err {
    margin-left: 5px;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: normal;
    color: #e63332;
    position: absolute;
  }

  .custom-date {
    border: 1px solid #cfcfcf;
    position: relative;

    .iconmo-calendar {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }

    &.error {
      border-color: #d0021b;
    }
  }

  .no-margin {
    margin: 0 0 0 20px;
  }

  .infor-title {
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1ea1f2;
    margin-bottom: 17px;
  }

  .subtitle {
    font-size: 18px;
    color: #333333;
    margin-bottom: 23px !important;
  }

  .user-infor {
    font-size: 0;
    margin-bottom: 30px;
    @include clearfix();
  }

  .text-err {
    position: absolute;
    left: 0;
    bottom: -18px;
    color: #d0021b;
    font-size: 14px;
  }

  .col-right,
  .col-center,
  .col-left {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
  }

  .col-right {
    width: 37%;
    padding-left: 30px;

    .form-group {
      @include clearfix();
    }
  }

  .col-center {
    width: 31%;
    padding-left: 20px;

    .col-md-8 {
      padding-left: 0;
    }
  }

  .col-left {
    width: 32%;

    .text-err {
      left: 15px;
    }
  }

  .form-group {
    margin-bottom: 17px;

    label[class^="col-"] {
      line-height: 42px;
      margin-bottom: 0;
    }
  }

  label {
    font-size: 14px;
    color: #666666;
    font-weight: 400;
  }

  .article-radio-box {
    background-color: #f2f4f5;
    padding: 7px 0 41px 30px;

    .article-title {
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #333333;
    }

    .article-item {
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.54;
      letter-spacing: normal;
      color: #666666;
    }

    .row {
      margin-top: 20px;
      position: relative;

      .left-content {
        padding-right: 0;
      }

      .right-content {
        position: absolute;
        right: 0;
        height: 100%;

        .middle {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          height: 20px;
        }

        &:before {
          content: '*';
          color: #e63332;
          position: absolute;
          top: calc(50% - 30px);
          right: 25px;
          font-size: 20px;
        }
      }
    }
  }

  .radio {
    margin-top: 0;
    margin-bottom: 0;
    &:not(:last-child){
      margin-right: 11px;
    }

    display: inline-block;

    .radio-label {
      padding-left: 0;
      font-size: 15px;

      &:before {
        content: '';
        border-radius: 50%;
        background-color: #fff;
        border: 3px solid #fff;
        box-shadow: 0 0 0 2px #c0c0c0;
        display: inline-block;
        width: 16px;
        height: 16px;
        position: relative;
        top: 0;
        margin-right: 7px;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }

    input[type="radio"] {
      position: absolute;
      opacity: 0;

      &:checked + .radio-label:before {
        background-color: #1ea1f2;
        outline: none;
      }
    }
  }


  .horizontal-bar {
    border-bottom: 1px solid #cfcfcf;

    .text {
      font-size: 14px;
      font-weight: 700;
      line-height: 2.07;
      color: #e63332;
      margin-bottom: 5px;
    }
  }

  .button-below {
    padding-bottom: 48px;
    @include clearfix();

    .back-btn {
      float: left;
      margin-top: 20px;
      text-decoration: none;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 40px;
      letter-spacing: 0.5px;
      text-align: center;
      color: #313131;
      text-transform: uppercase;

      .glyphicon {
        font-weight: 300;
        font-size: 13px;
        line-height: 28px;
      }
    }

    .next-btn {
      float: right;
      margin-top: 20px;
      border: 0;
      border-radius: 5px;
      background-color: #1ea1f2;
      font-size: 14px;
      font-weight: bold;
      line-height: 2.07;
      letter-spacing: 0.5px;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
      padding: 6px 34px;
      outline: none;
      span {
        color: #ffffff;
      }
    }
  }

  .form-group__wrapper {
    position: relative;
    padding: 0;

    & > :nth-child(1) {
      padding-right: 3px;
    }

    & > :nth-child(2) {
      padding-left: 3px;
    }
  }

  .form-control {
    height: 42px;
    border-radius: 0;
    border-color: #cfcfcf;

    &:focus {
      box-shadow: none;
      border-color: #1ea1f2;
    }

    &.error {
      border-color: #d0021b;
    }
  }

  .breadcrumb {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    line-height: 30px;
    color: #666666;
    padding-left: 22px;
    height: 45px;
    background-color: #e9f6fe;
    margin-bottom: 26px;
  }

  .button-below.button-below--02 {
    text-align: center;
    .next-btn {
      float: none;
    }
  }

  .button-below.button-below--03 {
    .next-btn {
      float: none;
    }
  }

  /// Css for ReviewUserInfor, UpdateUserInfor
  &.user-infor-page--02 {
    .col-left,
    .col-center {
      .text-normal,
      .text-bold {
        margin-bottom: 16px;
      }
    }

    .text-normal {
      color: #666;
    }

    .text-bold {
      color: #333;
      font-weight: 700;
    }

    .article-radio-box {
      .right-content {
        &:before {
          display: none;
        }

        .text-center {
          text-transform: capitalize;
          margin-bottom: 0;
          margin-left: 60px
        }
      }
    }
  }
}
